@{
    ViewData["Title"] = "Главная страница";
}

<h1>Добро пожаловать в книжный уголок</h1>
<p class="lead">Мы рады, что вы посетили наш сайт. Здесь вы можете подобрать книгу себе по душе.</p>
<p class="lead">
    <a asp-area="" asp-controller="Product" asp-action="ProductsView" class="btn btn-lg btn-secondary fw-bold text-dark border-white bg-white">Каталог</a>
</p>
<body background="~/wwwroot/Images/books.jpg">
</body>
